.comment-input {
  background-color: #3a3b3c;
  padding: 1rem;
  border: none;
  border-radius: 1.5rem;
  resize: none;
  width: 90%;
  max-width: 800px;
  color: #fff;
  font-size: 0.9rem;
}

.comment-input:focus {
  background-color: #0f9585;
}

.comment-input:hover {
  background-color: #4e4f50;
}

.comment-form {
  display: flex;
  width: 100%;
  justify-content: center;
}

@media (max-width: 600px) {
  .comment-input {
    font-size: 0.8rem;
  }
}
