.movie-details {
  width: 100%;
  min-height: 100vh;
  padding: 5rem;
  background-color: #18191a;
  display: flex;
  justify-content: center;
}

@media (max-width: 600px) {
  .movie-details {
    padding: 5rem 1rem;
  }
}