.profile-page {
  width: 100%;
  min-height: 100vh;
  padding: 5rem;
  background-color: #18191a;
}

.profile-img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.comments-section {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .profile-page {
    padding: 5rem 1rem;
  }
}
