nav {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  background: rgba(44, 44, 44, 0.5);
  font-weight: 600;
}

.nav__projectName {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #13c6b2;
  text-decoration: none;
}

.nav__projectName h2 {
  font-size: 2rem;
}

.logo-image {
  width: 48px;
  height: 3rem;
}

.logo-image img {
  height: 100%;
  width: 100%;
}

.authLink {
  color: #13c6b2;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.authLink:hover {
  color: #ffffff;
}

.nav-logoutbtn {
  font-family: inherit;
  font-weight: inherit;
  padding: 0.5em 1em;
  margin-left: 1em;
  background-color: #5595ff;
  box-shadow: 0 0 5px 0 aliceblue;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  color: #e3f2ff;
  transition: all 0.2s ease-in-out;
  position: sticky;
  top: 0;
}

.nav-logoutbtn:hover {
  transform: scale(1.05);
  background-color: #d13e3e;
}

.avatar-btn:hover {
  background: #13c6b2 !important;
}
