.search {
  width: 100%;
  min-height: 100vh;
  padding-top: 4rem;
  background-color: #18191a;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.search .search-link {
  text-decoration: none;
}

@media (max-width: 600px) {
  .card-container .card-img {
    width: 100%;
  }
}
