.home {
  background-color: #202124;
  color: #fff;
}

.link {
  text-decoration: none;
}

.hero,
.track-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.hero {
  background-image: url("../../images/home.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  text-shadow: 2px 2px 5px #000000;
}

.track-section {
  border: solid #13c6b2;
  border-width: 10px 0;
}

.track-image {
  width: 30rem;
  height: 30rem;
}

.track-image img {
  width: 100%;
  height: 100%;
}
